* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(42, 4, 79);
}

body {
  background: #f4faff;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.white_color {
  color: #f4f4f4;
}
